
/* Non nécessaire */
@font-face {
    font-family: "saliou-case";
    src: url(Montserrat-Italic.ttf);
}
*{
    /* bien vu mais il y autre chose */
    box-sizing: border-box;
}
body{
margin: 0;    
font-family: saliou-case sans-serif;
line-height: 1.7em;
font-size: 17x;
}
header{
    background-color: #333;
    padding: 2px 20px;
    /* non ncéssaire il faut mettre ça dans un container et 
    le centrer c'est mieux, d'autant plus tu utilises top, right
     sans préciser la position absolute */
    /* z-index pour le placer au dessus de quels div ? */
    padding-left: 200px;
    height: 70px;
   
}
.header-nav{
    float: right;
    padding-top:18px ;
    padding-right: 40px;
  
}
.header-nav a {
    padding: 25px;
    /* Souvent il faut éviter de nommer les couleurs par leurs noms */
    color: #fff; 
    text-decoration: none;
}
.header-nav a:hover{
    text-decoration: underline;
    color:red;
}
.HBT{
    margin-top: 20px;
    color: white;
}

section{
    /* Une seule ligne suffisait
     background: url('showcase.jpg') no-repeat center  center/cover;
     l'image il fallait le laisser dans son dossier.
    */
   
    background-image: url("showcase.jpg");
    background-repeat: none;
    background-position: center;
    background-size: cover;
    padding-bottom: 190px;
    padding-top: 200px;
}
.text{
    /* Margin auto pour du text, c'est pas courant dé */
    margin: auto;
    width: 800px;
    text-align: center;  
   animation: animatione 3s;
}
.div-p p{
font-size: 30px;
}

.tittle{
    font-size: 60px;
    margin: 0px 0px 30px 0px;
    color:white
}
.lorem{
    font-size: 20px;
    color: white;
}

.enjoy{
    color: hwb(30 41% 7%);;
}
button{
    margin-top: 30px;
    background-color: black;
    padding: 20px;
    border-radius: 8px;
    /* bouton avec text-decoration */
    text-decoration: none;
}
button a {
    color: white ;
    text-decoration: none;
    color: white
}
button a:hover{
    text-decoration: underline;
    color: red ;
}
@keyframes animatione  {
    from{
        transform: translateX(-200px);
        opacity: 0;
    }
    to{
        transform: translateX(0);
        opacity: 1;
    }}
    main{
        display: flex;
        width: 100%;

    }
    .div-img{
        background-image: url(photo-2.jpg);
        background-position:center ;
        background-size: cover;
        width: 50%;
        display: flex;
        height: 500px;
    }
  .history{
    font-size: 17px;
    width: 50%;
    background-color: black;
    color:white;
    text-align: center;  
    padding-top: 40px;
    padding: 40px 25px 0px 25px;


  }  
  .our-history{
color:hwb(30 41% 7%) ;
  }
 .read-more{
    background-color: white;
    
 } 
 .read-more a{
    color: black;
 }
 .grid{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: 300px;
 }
 .great{
    background-color:#f4f4f4; 
 }
 .Meals{
    background-color: #f7c08a;;
 }
 .container{
    padding: 30px;
    font-size: 17px;
    padding-top: 50px;
 }
 .tittre{
 margin: 0px 140px;
 }